<div class="container">
  <div class="sidebar">
    <div class="Météo1">
      <form [formGroup]="predireForm">
        <div class="input-group mb-3">
          <mat-form-field appearance="fill">
            <input (focus)="picker.open()" matInput [matDatepicker]="picker" id="data_date" name="data_date"
              formControlName="data_date" class="form-control">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button (click)="onSearch()" class="btn btn-dark">Search</button>
        </div>
        <div class="container" *ngIf="predireForm.value.name">
          <p> Click here to see the results: <a href="/date/{{ predireForm.value.data_date }}">{{
              predireForm.value.data_date }}</a></p>
        </div>
      </form>
    </div>
  </div>
  <button (click)="onPredire()" class="btn btn-dark">Predire</button>


  <div *ngIf="consommations" class="main-content">
    <div style="display: block;">
      <canvas #chartCanvas></canvas>
    </div>

    <div class="resultat">
      <h1>Dates</h1>
      <div class="parti_j">
        <div *ngFor="let item of consommations">
          <div class=" col-md-3">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{item.data_date}}</h5>
                <p>Donnée prédite</p>
                <b>{{item.consommation}} Mwh</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>