<button class="btn btn-dark" (click)="deleteCompanyEvent()">Supprimer</button>
<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <td scope="col" class="table-active">Date</td>
      <td colspan="#" class="table-active">Heure</td>
      <td scope="col" class="table-active">Consommation</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="7"> It'll take time to crawl the data, please refresh if you don't see anything</td>
    </tr>
    <tr *ngFor="let em of employs">
      <!-- <td>{{em.date}}</td>
      <td>{{em.hour}}</td>
      <td>{{em.consommation}}</td> -->
    </tr>
  </tbody>
</table>